@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/Images/favicon.ico">
    <link rel="icon" type="image/png" href="/Assets/Images/favicon.png">
    <link rel="apple-touch-icon" href="/Assets/Images/favicon.png">

    <title>Alignment Associates</title>
    <!-- Plugins CSS -->
    <link href="/Template/css/plugins/plugins.css" rel="stylesheet">
    <!--dz parallaxer-->
    <link href="/Template/dzsparallaxer/dzsparallaxer.css" rel="stylesheet">
    <link href="/Template/dzsparallaxer/scroller.css" rel="stylesheet">
    <link href="/Template/dzsparallaxer/advancedscroller/plugin.css" rel="stylesheet">
    <!--smart form css-->
    <link href="/Template/smart-form/contact-recaptcha/css/smart-forms.css" rel="stylesheet">
    <!-- load css for cubeportfolio -->
    <link rel="stylesheet" type="text/css" href="/Template/cubeportfolio/css/cubeportfolio.min.css">
    <link href="/Template/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbarsspy" data-offset="52">
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div><!--/preloader-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-transparent">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsspy" aria-controls="navbarsspy" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" data-scroll href="#home">
                <img src="/Assets/Images/alignmentassociates2.png" alt="" class="logo-dark">
                <img src="/Assets/Images/alignmentassociates2.png" alt="" class="logo-light">
            </a>
            <div class="collapse navbar-collapse" id="navbarsspy">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a data-scroll class="nav-link active" href="#home">home</a></li>
                    <li class="nav-item"><a data-scroll class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a data-scroll class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a data-scroll class="nav-link" href="#team">Portfolio</a></li>
                    <li class="nav-item"><a data-scroll class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
            <ul class="float-right navbar-nav hidden-md-down">
                <li class="nav-item"><a href="#" class="nav-link btn btn-rounded btn-primary">Sign In</a></li>
            </ul>
        </div>
    </nav>
    <section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
        <div class="divimage dzsparallaxer--target " data-src="/Assets/Images/ciprian-lipenschi-47643-unsplash.jpg" style="width: 100%; height: 130%; background-image: url(/Assets/Images/ciprian-lipenschi-47643-unsplash.jpg)">
            <div class="content-table">
                <div class="content-middle pt80 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-md-10 col-lg-10 col-sm-8 mr-auto ml-auto">
                                <div class="text-white h2 hero-big-text">
                                    Your Brand |
                                    <div class="fadeIn">
                                        <span>Our Strategy.</span>
                                        <span>Our Experience.</span>
                                        <span>Our Knowledge.</span>
                                        <span>Our Commitment.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class='col-md-12 text-center pt30'>
                                    <a data-scroll href='#about' class='hover-me1'>Who We Are</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div><!--hero inner-->
        </div><!--parallax hero-->
        </div><!--parallax image div-->
        <div class="mouse-down"><a data-scroll href="#about"><i class="fa fa-angle-down fa-3x text-white"></i></a></div>
    </section>
    <!--intro section end-->

    <section id="about" class="pt90 pb50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 mb40">
                    <div class="section-title title-left mb40 text-justify">
                        <div class='section-title title-left mb30'>
                            <span class="section-subTitle">what we do</span>
                            <h3 class='mb0'>
                                About Us
                            </h3>
                        </div>
                        <h4 class='mb0 h3 font300 mb20'>Successful companies are unique—that is why they stand out from the competition. Alignment Associates thrives on thinking out of the box to create the most unique concepts and designs.</h4>
                        <p class="lead">
                            We are your partner in technology and digital marketing. We work with organizations to learn what their business goals and objectives are, and we build solutions that are custom tailored to their specific needs. We are staffed with full-stack developers who are highly trained and experienced in creating robust solutions for a dynamic web presence, as well as seasoned professionals in SQL development and architecture who are capable of building out exemplary automated data solutions.  Our goal is to build relationships that go beyond board rooms and email conversations: we strive to build long-term friendships.
                        </p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-4 mb40'>
                        <img src='/Assets/Images/NightLights!!.jpg' alt='' class='img-fluid center-img shadow-card mb30'>
                        <h5 class='text-uppercase'>Creative Solutions</h5>
                        <p>
                            As an organization of eccletic talent, we collaborate and work as a team to provide creative solutions for your needs. We develop your vision into a reality.
                        </p>
                    </div>
                    <div class='col-md-4 mb40'>
                        <img src='/Assets/Images/passion.jpg' alt='' class='img-fluid center-img shadow-card mb30'>
                        <h5 class='text-uppercase'>Why We Do It</h5>
                        <p>
                            Our company is fueled by the passion we have for developing and providing the most exceptional services we can to our clients. Our passion is what sets us apart.
                        </p>
                    </div>
                    <div class='col-md-4 mb40'>
                        <img src='/Assets/Images/rawpixel-com-.jpg' alt='' class='img-fluid center-img shadow-card mb30'>
                        <h5 class='text-uppercase'>Customer Service</h5>
                        <p>
                            To be effective we need our clients to be confident in us. We build this confidence and trust through open and transparent dialogue.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--section end about-->
    <div class='pt50 pb40 bg-primary'>
        <div class='container'>
            <div class='row align-items-center'>
                <div class='col-md-8'>
                    <h3 class='text-white '>“ Websites promote you 24/7: No employee will do that.”</h3>
                    <p class='lead text-white-gray'>― Paul Cookson</p>
                </div>
                <div class='col-md-4 text-center'>
                    <a data-scroll href='#contact' class='hover-me1'>Drop us a line</a>
                </div>
            </div>
        </div>
    </div>
    <section id='services' class='pt90 pb60'>
        <div class='container'>
            <div class='row align-items-center'>
                <div class='col-md-4 mb30'>
                    <div class='section-title title-left mb30'>
                        <span class="section-subTitle">what we do</span>
                        <h3 class='mb0'>
                            Our services
                        </h3>
                    </div>
                    <p class='lead'>
                        Our exceptional services we provide to you.
                    </p>
                    <a data-scroll href='#team' class='btn btn-outline-secondary'>Learn More</a>
                </div>
                <div class='col-md-7 ml-auto'>
                    <div class='row'>
                        <div class='col-md-6 mb30 text-center'>
                            <i class='icon-pictures fa-3x mb20 text-primary'></i>
                            <h5 class='text-uppercase mb20'>Web design</h5>
                            <p class="text-justify">
                                At Alignment Associates, we don’t just create a website.  We build a web presence for organizations that is not only dynamic in layout and presentation, but also offers endless functionality. We build applications from simple informational websites, to fully customized eCommerce solutions for any client needs, as well as systems integration projects to align organizations application pool. We strive to build the industries best online presence.
                            </p>
                        </div>
                        <div class='col-md-6 mb30 text-center'>
                            <i class='icon-cloud fa-3x mb20 text-primary'></i>
                            <h5 class='text-uppercase mb20'>Data Solutions</h5>
                            <p class="text-justify">
                                Our data solutions, built on the Microsoft SQL Server platform, are industry-best applications that help organizations to sustain constant growth with little effort.  Our solutions are scalable to handle small business needs, as well as capable of handling big data for larger organizations. We work with clients from the design and architectural stage of a data project all the way through the production implementation, with impeccable post-launch support.
                            </p>
                        </div>
                        <div class='col-md-6 mb30 text-center'>
                            <i class='icon-tablet fa-3x mb20 text-primary'></i>
                            <h5 class='text-uppercase mb20'>App Development</h5>
                            <p class="text-justify">
                                Building custom solutions is a specialty of Alignment Associates.  Our dedicated team of developers are experienced in helping organizations build out solutions that meet their current needs and is scalable to handle future growth potential. We engage with organizations to provide a full analysis of their current infrastructure to provide the most dynamic solution that will fit their environment as well as stay within their budget.
                            </p>
                        </div>
                        <div class='col-md-6 mb30 text-center'>
                            <i class='icon-lightbulb fa-3x mb20 text-primary'></i>
                            <h5 class='text-uppercase mb20'>Marketing & SEO</h5>
                            <p class="text-justify">
                                Brand awareness is an essential component for brand growth. After our staff works with organizations to analyze their target demographics, we build out programs based on growth goals. We offer staff training in social media management and creating content to drive traffic to the desired platforms. We collaborate with organizations to establish KPIs to measure the success of their marketing strategies and analyze metrics to determine target demographics in future campaigns.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/.services-->
    <!-- Dark Section -->
    <div class="cta bg-dark pt90 angle-top mt70 pb60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 wow fadeInLeft mb30" data-wow-delay=".1s">
                    <img src="/Assets/Images/darksection.jpg" alt="" class="img-fluid shadow">
                </div>
                <div class="col-md-6 pb40">
                    <h2 class="text-white font300 mb20">Developing your vision.</h2>
                    <p class="lead  text-white-gray">
                        Let us bring your idea to life and make it a reality. We have the tools and know-how to make it happen. Leave the heavy lifting to us.
                    </p>
                </div>
            </div>
        </div>
    </div><!--/cta-->
    <!-- Angle section -->
    <div class="dzsparallaxer auto-init height-is-based-on-content " data-options='{   direction: "reverse"}'>
        <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(/Assets/Images/NightTimeCityScene.jpg)">
        </div>
        <div class="container pt100 pb70">
            <div class="row pb50">
                <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                    <h3 class="alignText text-center font400 text-white">Get Aligned</h3>
                </div>
            </div>
            <div class="text-center">
                <a data-scroll href="#contact" class="hover-me1"> Drop us a line </a>
            </div>
        </div>
        <div class="dzsprxseparator--2triangles"></div>
    </div><!--parallax-->
    <section id="team" class="pt90 pb60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center mb30">
                    <div class="section-title">
                        <span class="section-subTitle">How We Work</span>
                        <h3 class="mb0">Our Portfolio</h3>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.badmodderfogger.com" target="_blank">
                            <img src="/Assets/Images/BMFLogoOnAASite.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Bad Modder Fogger</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.carolinaink.net" target="_blank">
                            <img src="/Assets/Images/CarolinaInkLogo.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Carolina Ink</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.hardonthetrail.com" target="_blank">
                            <img src="/Assets/Images/HOTTScentsLogo.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Hott Scents</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.bullgatorcamo.com" target="_blank">
                            <img src="/Assets/Images/BlackRedTransparent.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>BullGator Camo</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.campkayoutfitters.com" target="_blank">
                            <img src="/Assets/Images/camp-kay-new.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Camp Kay Outfitters</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.mabetrucking.com" target="_blank">
                            <img src="/Assets/Images/MabeLogo.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Mabe Trucking</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.hookerconstructioninc.com" target="_blank">
                            <img src="/Assets/Images/Hooker Icon BLUE.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Hooker Construction Inc.</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.dalmatianlcpw.com" target="_blank">
                            <img src="/Assets/Images/DalmatianLogo.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Dalmatian Lawn Care & Pressure Washing</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.engagesme.com" target="_blank">
                            <img src="/Assets/Images/SME.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Specialized Mobile Exibits</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.servicefirstlogistics.com" target="_blank">
                            <img src="/Assets/Images/ServiceFirstLogistics.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Service First Logistics</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.pleasantvalleyyouthcamp.com" target="_blank">
                            <img src="/Assets/Images/PleasantValley.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Pleasant Valley Youth Camp</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.riseaboveclutter.com" target="_blank">
                            <img src="/Assets/Images/RiseAboveLogo.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Rise Above Clutter</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.deadendgamecalls.com" target="_blank">
                            <img src="/Assets/Images/DEGC.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Dead End Game Calls</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6 mb30">
                    <div class="team-card">
                        <a href="http://www.peetdryer.com" target="_blank">
                            <img src="/Assets/Images/PeetDryer.png" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Peet Boot Dryer</h4>
                                    <div class="seprator-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/col-->
            </div>
        </div>
    </section><!--team-->

    <section id="contact" class="bg-faded pt90 pb50">
        <div class="container">
            <div class="row">
                <div class="col-md-5 pb40">
                    <div class="section-title title-left mb30">
                        <span class="section-subTitle">Feel free to contact us</span>
                        <h3 class="mb0">
                            Contact us
                        </h3>
                    </div>
                    <ul class="list-unstyled contact-info">
                        <li>
                            <i class="fa fa-home"></i>
                            <a target="_blank" href="http://maps.google.com/?q=239 East Center St., Lexington, NC, 27292">239 East Center Street Lexington, NC 27292</a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="tel:3368431657">(336) 843-1657</a>
                        </li>
                        <li>
                            <i class="fa fa-mobile-phone"></i>
                            <a href="tel:8884320396">(888) 432-0396</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@thealignmentassociates.com">info@thealignmentassociates.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 offset-md-1 pb40">
                    <h3 class="font300 mb30">Any Questions? Just Ask!</h3>
                    <div class="smart-wrap">
                        <div class="smart-forms smart-container wrap-2">
                            @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <form id="smart-form">
                                    <div class="form-body">
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" name="FromName" id="FromName" class="gui-input" placeholder="Enter name">
                                                <span class="field-icon"><i class="fa fa-user"></i></span>
                                            </label>
                                        </div><!-- end section -->
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="email" name="FromEmail" id="FromEmail" class="gui-input" placeholder="Email address">
                                                <span class="field-icon"><i class="fa fa-envelope"></i></span>
                                            </label>
                                        </div><!-- end section -->
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input type="text" name="Subject" id="Subject" class="gui-input" placeholder="Enter subject">
                                                <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                                            </label>
                                        </div><!-- end section -->
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <textarea class="gui-textarea" id="Body" name="Body" placeholder="Enter message"></textarea>
                                                <span class="field-icon"><i class="fa fa-comments"></i></span>
                                                <span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span>
                                            </label>
                                        </div><!-- end section -->
                                        <div class="result"></div><!-- end .result  section -->
                                    </div><!-- end .form-body section -->
                                    <div class="form-footer">
                                        <button type="submit" data-btntext-sending="Sending..." class="button btn btn-primary">Submit</button>
                                        <button type="reset" class="button btn-secondary"> Cancel </button>
                                    </div><!-- end .form-footer section -->
                                </form>
                            }
                        </div><!-- end .smart-forms section -->
                    </div><!-- end .smart-wrap section -->
                </div>
            </div>
        </div>
    </section>
    <div class="dzsparallaxer auto-init height-is-based-on-content " data-options='{   direction: "reverse"}'>
        <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(/Assets/Images/WIndmillSunset.jpg)">
        </div>
        <div class="semi-black-overlay"></div>
        <div class="container pt100 pb70">
            <div class="row pb50">
                <div class="col-md-12">
                    <h3 class="h1 text-center font300 text-white">Let's work together to develop a better future.</h3>
                </div>
                @*<div class="col-md-4 text-sm-center mt10">
                        <a data-scroll="" href="#contact" class="hover-me1">Hire Us</a>
                    </div>*@
            </div>
        </div>
        <div class="dzsprxseparator--2triangles"></div>
    </div><!--parallax-->

    <footer class='footer'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='clearfix socials'>
                        <a href="https://www.facebook.com/alignmentassociates/" target="_blank" class="social-icon si-border si-facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/AlignmentAssoci" target="_blank" class="social-icon si-border si-twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter"></i>
                        </a>
                        @*<a href="#" target="_blank" class="social-icon si-border si-g-plus">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>*@
                        <a href="https://www.instagram.com/alignmentassociates/" target="_blank" class="social-icon si-border si-instagram">
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class='col-md-6 text-md-right text-center'>
                    <span>&copy; Copyright 2018. Alignment Associates</span>
                </div>
            </div>
        </div>
    </footer>
    <!--back to top-->
    <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="/Template/js/plugins/plugins.js"></script>
    <script type="text/javascript" src="/Template/js/onepage.custom.js"></script>
    <!--dz parallaxer-->
    <script type="text/javascript" src="/Template/dzsparallaxer/dzsparallaxer.js"></script>
    <script type="text/javascript" src="/Template/dzsparallaxer/scroller.js"></script>
    <script type="text/javascript" src="/Template/dzsparallaxer/advancedscroller/plugin.js"></script>
    <!-- load cubeportfolio -->
    <script type="text/javascript" src="/Template/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="/Template/js/folio-load-more.js"></script>
    <script type="text/javascript" src="/Template/js/testimonials.js"></script>
    <!--sky form plugin js-->
    <script type="text/javascript" src="/Template/smart-form/contact-recaptcha/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="/Template/smart-form/contact-recaptcha/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Template/smart-form/contact-recaptcha/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="/Template/smart-form/contact-recaptcha/js/smart-form.js"></script>
    <!-- Text Rotator -->
    @*<script>
            (function ($) {
                $.fn.extend({
                    rotaterator: function (options) {

                        var defaults = {
                            fadeSpeed: 500,
                            pauseSpeed: 100,
                            child: null
                        };

                        var options = $.extend(defaults, options);

                        return this.each(function () {
                            var o = options;
                            var obj = $(this);
                            var items = $(obj.children(), obj);
                            items.each(function () { $(this).hide(); })
                            if (!o.child) {
                                var next = $(obj).children(':first');
                            } else {
                                var next = o.child;
                            }
                            $(next).fadeIn(o.fadeSpeed, function () {
                                $(next).delay(o.pauseSpeed).fadeOut(o.fadeSpeed, function () {
                                    var next = $(this).next();
                                    if (next.length == 0) {
                                        next = $(obj).children(':first');
                                    }
                                    $(obj).rotaterator({ child: next, fadeSpeed: o.fadeSpeed, pauseSpeed: o.pauseSpeed });
                                })
                            });
                        });
                    }
                });
            })(jQuery);

            $(document).ready(function () {
                $('#rotate').rotaterator({ fadeSpeed: 1000, pauseSpeed: 350 });
            });
        </script>*@
</body>
</html>
